* {
    box-sizing: border-box;
}

body {
    background-color: #C0A080;
    margin: 0px;
    overflow: hidden;
}

.container {
    display: grid;
    grid: 1fr 7fr / 1fr 3fr 1fr;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
.header {
    grid-area: 1 / span 3;
    background-color: #506040;
    color: white;
    text-shadow: 0px 0px 16px #C8F0A0;
    text-align: center;
    font-size: xxx-large;
    font-family:Impact;
    padding: 0px;
}

.letter {
    position: absolute;
    width: fit-content;
    height: 1em;
    z-index: 100;
}

.left {
    background-color: #A0C080;
}

.right {
    background-color: #80A0C0;
}

.board {
    position: relative;
}

.board-field {
    display: inline;
    position: absolute;
    border: 8px outset lightgray;
    background-color: silver;
    color: #404040;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.board-field:hover {
    border: 8px outset blue;
}

.revealed {
    background-color: gray;
    border: 2px solid silver;
}