body {
    background-color: gray;
    font-family: Verdana;
}

#controls {
    margin:1em 0em; padding: 0px;
    width:20em; height: 1.4em;
}

div.group {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 4px;
    margin:0px;
    border: groove 2px silver;
}

#start {
    width: 3em;
}

#bpm {
    /* padding:0px; margin: 0px; */
    height: 8px;
    cursor: pointer;
}

#synth1 {
    width: 492px; height: 134px;
    background-color: #606080;
    border: outset 2px #c0c0e0;
}

#synth2 {
    width: 492px; height: 134px;
    background-color: #608060;
    border: outset 2px #c0c0e0;
}

#synth3 {
    width: 492px; height: 134px;
    background-color: #c09040;
    border: outset 2px #c0c0e0;
}

div.titlebar {
    color: #000000;
    font-family: Verdana;
    font-size: 11pt;
    padding: 2px;
    background-color: #6070a0;
    border: solid 2px #405080
}

div.pattern {
    box-sizing: border-box;
    display: inline-block;
    /* width: 640px;
    height: 360px; */
}

#pattern1_chart {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

#con {
	position:absolute;
	font-size:10pt;
	font-family:Consolas;
	text-align:left;
	padding:2 4;

	box-sizing: border-box;
	margin:0;
	background-color:#102030;
	color:#208040;
	opacity:0.5;
	height:25vh; width:100vw;
	overflow:hidden auto
}

button {
    padding:0px;
    font-size: 10pt;
    font-family: Consolas;
}
