* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: black;
}

#settings {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
    border: ridge 4px #80808040;
    background-color: #80808080;
}

div.settings {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    border: outset 4px #ffffff40;
    background-color: #ffffff40;
    cursor: pointer;
    justify-content: center;
    padding: 0.2em 0.1em;
    align-items: center;
}

div.buttons {
    display: flex;
    justify-content: center;
}

span.settings {
    /* grid-column: 1;
    grid-row: 1; */
    text-align: center;
}

span.fps {
    /* grid-column: 2;
    grid-row: 1; */
    text-align: center;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: small;
}

/* #settings label {
    display: inline-block;
    text-align: center;
    width: 4em;
    font-weight: bold;
    padding: 0;
    border: inset 2px #80808040;
} */

#settings input {
    cursor:pointer;
    border: inset 2px #80808040;
}

.range {
    font-family: Consolas;
    font-size: 11pt;
    color: #d0e0ffa0;
    text-shadow: 1px 1px 2px #000000c0;
    background: #4444;
    text-align: center;
}
div.range {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.8em;
    border: outset 1px #8888;
    padding: 2px;
}

label.range {
    width: 5.5em;
}

input.range {
    height: 0.6em;
    width: 8em;
    background: #222a;
    padding-bottom: 2px;
    cursor: pointer;
    /* writing-mode: vertical-lr;
    transform: rotate(180deg); */
    -webkit-appearance: none;
    appearance: none;
}

input.range::-webkit-slider-thumb {
    background: #ccc8;
    border-radius: 1px;
    width: 0.6em;
    height: 1em;
    box-shadow: -1px -1px 2px black;
    -webkit-appearance: none;
}

span.range {
    width: 3em;
}

button.settings {
    /* grid-column: span 2; */
    border-width: 3px;
    width: 5em;
    font-size: large;
    background-color: #ffffff80;
}

button.settings:hover {
    background-color: #ffffffc0;
}