body			{ background-color: silver }
#info			{ background-color:#e0e0e0;border:inset 2px silver; }
.label			{ border:inset 1px silver; padding:2px 4px; background-color: silver; color: black }
input			{ border:inset 1px silver; padding:2px 4px; background-color: silver; color: black }