
body {
	background-color: #041008;
	margin: 0px; padding: 0px;
	border: 0 none;
	overflow: hidden;
}

h1 {
	margin: 0.2em 0.5em;
	padding: 0;
	font-size: 40pt;
	color: #208040;
}

div.wrapper {
	border: groove 2px silver;
}

#con {
	position:absolute;
	top:75vh;
	font-size:10pt;
	font-family:Consolas;
	text-align:left;
	padding:2 4;
	box-sizing: border-box;
	margin:0;
	background-color:#102030;
	color:#208040;
	opacity:0.95;
	height:25vh; width:100vw;
	overflow:hidden auto
}

pre {
	padding: 0;
	margin: 0;
	border: none;
	display: inline;
}

.error-details {
	background-color: #200000;
	color: #ff8080;
	padding: 1px;
	display: inline-block;
	position: absolute;
	height: 1em; width: 3em;
	overflow: hidden;
	cursor: pointer;
}

.error-details:hover {
	height: fit-content; width: fit-content
}