body {
	background-color: black;
	margin: 0px; padding: 0px;
	border: 0 none;
	overflow: hidden;
}
#list {
	position: absolute;
	left: 10px;	top: 10px;
	padding: 2px 4px;
	/*background-color:silver;*/
	border: outset 1px silver;
	font-family: Consolas;
	font-size:small;
	display: none
}

.titlebar {
	font-size: 14pt;
	background-color: silver;
}

.row {
	font-weight: bolder
}

.grid.row.r0 {
	background-color: silver
}

.grid.row.r1 {
	background-color: white
}

.grid.cell {
	padding: 2px;
	border: groove 2px;
}

#cvs-container {
	width: 100vw; height: 100vh;
	margin: 0; padding: 0;
	border: 0 none
}
#cvs {
	background-color: black
}

#settings {
	position: absolute;
	left: 80vw;	top: 10px;
	padding: 2px 4px;
	background-color:silver;
	border: outset 1px lightgray;
	font-family: Consolas;
	font-size:small;
	width: 16em;
	overflow: auto;
}

div.wrapper {
	border: groove 2px silver;
}

#con {
	position: absolute; top: 0px; left: 0px;
	font-size: 10pt; font-family: Consolas;	text-align: left;
	padding: 2 8; margin: 0;
	background-color:#102030; color:#208040;
	opacity: 0.5; height: 50vh;
	overflow: hidden auto;
	visibility: hidden;
}