* {
    box-sizing: border-box;
}

body {
    background-color: #C0A080;
    margin: 0px;
    overflow: hidden;
}

.container {
    display: grid;
    grid: 1fr 7fr / 1fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
.header {
    grid-area: 1 / span 3;
    background-color: #506040;
    color: white;
    text-shadow: 0px 0px 16px #C8F0A0;
    text-align: center;
    font-size: xxx-large;
    font-family:Impact;
    padding: 0px;
}

.letter {
    position: absolute;
    width: fit-content;
    height: 1em;
    z-index: 100;
}

.left {
    background-color: #A0C080;
}

.right {
    background-color: #80A0C0;
}

.board {
    position: relative;
}

.board-field {
    display: inline;
    position: absolute;
    border: 8px outset lightgray;
    background-color: silver;
    color: #404040;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.board-field:hover {
    border: 8px outset blue;
}

.revealed {
    background-color: gray;
    border: 2px solid silver;
}

.flagged {
    background-color: red;
}

.fraction {
    position: absolute;
    background-color: silver;
    /* background-size: cover; */
    border: 1px solid black;
    z-index: 100;
}

#message {
    position:absolute;
    width:fit-content;
    height:fit-content;
    display: none;
    font-size: xx-large;
    background-color: silver;
    border: 2px solid black;
    border-radius: 7%;
    color: blue;
    padding: 1em;
    box-shadow: 3px 4px 12px black;
    opacity: 0.8;
    z-index: 1000;
}

.msgbutton {
    text-align: center;
}

.msgbutton > button {
    font-size: xx-large;
    font-weight: bold;
    border-width: 2px;
    background-color: silver;
    border-radius: 10%;
    transition: all 0.3s;
}

.msgbutton > button:hover {
    background-color: white;
}