
#image_inp {
    width: 6em;
}

#image_val {
    width: 6em;
}

#interpolation_lbl {
    width: 8em;
}

#interpolation_inp {
    width: 4em;
}

#interpolation_val {
    width: 6em;
}