body {
	margin: 0px;
	background-color:#204060;
	font-family:Arial;
	font-size:10pt;
}

#con {
	position:absolute;
	top:77vh;
	font-size:12pt;
	font-family:Consolas;
	text-align:left;
	padding:2 4;
	box-sizing: border-box;
	margin:0;
	background-color:#102030;
	color:#208040;
	opacity:0.9;
	height:23vh; width:100vw;
	overflow:hidden auto;
}

#main {
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	height: 75vh;
	text-align: center;
	color: #b0e0ff;
	text-shadow: 1px 1px #304060;
	overflow: auto;
	font-size: 12pt;
}

table {
	border: none;
	color: 'white';
	font-family: Consolas;
	text-align: right;
}

#current {
	margin-left: auto;
}

.current {
	background-color: #6080c0;
	border: 2px outset #78a0f0;
}

#calculated {
	margin-left: auto;
	margin-right: auto;
}

.calculated {
	background-color: #60a0a0;
	border: 2px outset #78c0c0;
}

#planned {
	margin-right: auto;
}

.planned {
	background-color: #60c080;
	border: 2px outset #78f0a0;
}

td, th {
	padding: 1px 2px;
}

td {
	color: #000020;
	text-shadow: none;
	white-space: pre;
}

th {
	text-align: center;
	color: white;
}

input {
	text-align: right;
	width: 3em;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 10pt;
}

h1 {
	font-size: 24pt;
	margin: .5em;
	color: white;
}

h3 {
	font-size: 16pt;
	margin: .5em;
	color: silver;
}