body {
	margin: 0px;
	background-color:black;
	font-family:Arial;
	font-size:10pt;
}

hd {
	position:relative;
	display:block;
	width:10em;
	font-size: large;
	font-weight: bold;
	border-bottom: solid 1px;
	padding: 0.1em 0.2em;
	margin: 0.6em 0em 0.2em 0em;
}

error {
	position:relative;
	display:block;
	color:#e08080
}

#con {
	position:absolute;
	top:75vh;
	font-size:12pt;
	font-family:Consolas;
	text-align:left;
	padding:2 4;

	box-sizing: border-box;
	margin:0;
	background-color:#102030;
	color:#3f9159;
	opacity:0.5;
	height:25vh; width:100vw;
	overflow:hidden auto
}