synth {
    height: 161px;
    width: 488px;
}
.synth {
    position: relative;
}

.synth.titlebar {
    height: 20px;
    padding: 2px 8px;
    border: none;
    background-color: #102040;
    color: #80c0ff;
}

.synth.toolbar {
    display: block;
    position:relative;
    font-family: Consolas;
    font-weight: 800;
    font-size: 10pt;
    height: 26px;
    border: 1px outset #8890a0;
}

.synth.toolbar.onOff {
    position: relative;
    left:0px;
    margin: 4px;
    border: 2px inset #8890a0;
    background-color: black;
    height:16px; width: 16px;
}

.synth.toolbar.onOff.on {
    background-color: #4080ff;
}

.synth.toolbar.preset {
    position: relative;
    left: 1px; top:1px;
    margin: 0px 2px;
    width: 16em; height: 1.6em;
}

.synth.toolbar.preset.save {
    position: relative;
    width: 4em;
}

.synth.toolbar.preset.remove {
    position: relative;
    width: 5em;
}

select.synth.toolbar {
    border: 1px inset #e0e0e0;
}

button.synth.toolbar {
    border-color: #e0e0e0;
}

select.synth.toolbar, button.synth.toolbar {
    background-color: #f0f0f0;
}

.synth.modules.env.content {
    position:absolute; left: 2px;
    width:180px; height:32px;
    border: outset 1px #c0c0e0;
    margin: 0px;
    background-image: url('/src/synth/res/env.png');
    background-repeat: no-repeat;
}

.synth.modules.osc.content {
    position:absolute; left: 185px; 
    width:160px; height:32px;
    border: outset 1px #c0c0e0;
    margin: 0px; padding: 0px;
    background-image: url('/src/synth/res/osc.png');
    background-repeat: no-repeat;
}
.synth.modules.lfo.content {
    position:absolute; left: 349px;
    width:136px; height:32px;
    border: outset 1px #c0c0e0;
    margin: 0px;
    background-image: url('/src/synth/res/lfo.png');
    background-repeat: no-repeat;
}

.synth.modules.flt.content {
    position:absolute; left: 185px;
    width:160px; height:32px;
    border: outset 1px #c0c0e0;
    margin: 0px;
    background-image: url('/src/synth/res/flt.png');
    background-repeat: no-repeat;
}

.pot {
    position: absolute;
    font-size: 10px; font-family: Verdana; font-weight: bold; color: #ff4020;
    width: 24px; height: 15px; text-align: center; margin: 0px; padding: 1px 0px 0px 0px;
    background: transparent; border: none;
    cursor: pointer;
}

input.synth.amp {
    top:66px;left:356px;
    width:120px;height:42px;
}

.option {
    cursor: pointer;
    position: absolute;
}

/******** Envelope ********/
.env.env1.content { top:2px; }
.env.env2.content { top:38px; }
.env.env3.content { top:74px; }

.pot.env.amp { left:  19px; top: 15px }
.pot.env.dc  { left:  46px; top: 15px }
.pot.env.atk { left:  73px; top: 15px }
.pot.env.dec { left: 100px; top: 15px }
.pot.env.sus { left: 127px; top: 15px }
.pot.env.rel { left: 154px; top: 15px }


/******** Oscillator ********/
.osc.osc1.content { top:2px; }
.osc.osc2.content { top:38px; }

.pot.osc.amp { left:  19px; top: 15px }
.pot.osc.dc  { display: none }
.pot.osc.fre { left:  45px; top: 15px }
.pot.osc.note { display: none }
.pot.osc.tune { left:  71px; top: 15px }
.pot.osc.psw { left: 97px; top: 15px }

.wave {
    margin: 0px; padding: 0px;
    border: none;
    background: transparent;
    width:38px;
    height:20px;
    font-family: Consolas;
    font-size:2pt;
}

.lfo.select.wave { top: 0px; left: 98px; }
.osc.select.wave { top: 0px; left: 122px; }

.select.wave.option { width:18px; height:10px; background-color: #a0a0a0; opacity: 0.6 }

.wave.option.sinus    { top: 0px; left: 2px; }
.wave.option.triangle { top:11px; left: 2px; }
.wave.option.saw      { top:22px; left: 2px; }
.wave.option.pulse    { top: 0px; left:20px; }
.wave.option.noise    { top:11px; left:20px; }

.wave.option.on   { opacity: 0.1 }


/******** LFO ********/
.lfo.lfo1.content { top:2px; }
.lfo.lfo2.content { top:38px; }

.pot.lfo.amp { left:  19px; top: 15px }
.pot.lfo.dc  { left:  46px; top: 15px }
.pot.lfo.fre { left:  73px; top: 15px }
.pot.lfo.note { display: none }
.pot.lfo.tune { display: none }
.pot.lfo.psw { display: none }

/******** Filter ********/
.flt.flt1.content { top:74px; }

.pot.flt.amp { left: 19px; top: 15px }
.pot.flt.cut  { left: 46px; top: 15px }
.pot.flt.res { left: 73px; top: 15px }
.pot.flt.mod { left: 100px; top: 15px }

.mode {
    left:125px; top:1px;
    margin: 0px; padding: 0px;
    border: none;
    background: transparent;
    width:19px;
    height:30px;
    font-family: Consolas;
    font-size:2pt;
}

.flt1.select.mode { top:0px; left:125px; width: 19px; height: 32px; }
.select.mode.option { width: 19px; height: 10px; background-color: #a0a0a0; opacity: 0.6; }

.mode.option.lowpass  { top: 0px; left: 0px; }
.mode.option.bandpass { top:11px; left: 0px; }
.mode.option.highpass { top:22px; left: 0px; }

.mode.option.on   { opacity: 0.1 }
