body {
	background-color: #041008;
	margin: 0px; padding: 0px;
	border: 0 none;
	overflow: hidden;
}

#canvas {
    position:absolute;
    background-color: #000000;
    left:0px; top:0px; z-index:-1;
    width:100vw; height:100vh;
}

#con {
	position:absolute;
	top:90vh;
	font-size:10pt;
	font-family:Consolas;
	text-align:left;
	padding:2 4;
	box-sizing: border-box;
	margin:0;
	background-color:#102030;
	color:#208040;
	opacity:0.95;
	height:10vh; width:9100vw;
	overflow:hidden auto
}
